<div class="p-1 lightest-cyan">Category: {{selectedCategory}}</div>
<div class="p-1 d-flex flex-row  lighter-sky-blue" *ngFor="let post of posts$ | async">

  <button class="px-1 btn-text" (click)="onPostClick(post._id )">{{post.topic }}</button>

  <!-- <div class="px-1">{{post.gptPromptId}}</div> -->

  <div class="px-1 p-1" style="font-size: 80%">{{post.createAt }} </div>
  <div class="px-1 p-1" style="font-size: 80%">Reads: {{post.reads }}</div>
</div>

<!-- display current page -2 to cureent page +1 on left, and totalPages on right -->
<div class="p-1 d-flex flex-row  lighter-sky-blue ">
  <div> </div>
  <div class="p-1 " *ngFor="let onePage of pages ">

    <button class="light-sky-blue " (click)="onPageClick(onePage)">{{onePage}} </button>

  </div>

  <div class="p-1 px-4 ">

    <button class="light-sky-blue " (click)="onPageClick(totalPages)">Total: {{totalPages}} </button>

  </div>
</div>