/* You can add global styles to this file, and also import other style files */
.bg-lighten-xl {
	background-color: #bdf !important;
}

.light-sky-blue {
	background-color: #aae1ff;
}

.lighter-sky-blue {
	background-color: #bfeaff;
}

.lightest-sky-blue {
	background-color: #daf3ff;
}

.light-cyan {
	background-color: #88f8ff;
}

.lighter-cyan {
	background-color: #aaf8ff;
}

.lightest-cyan {
	background-color: #ddf8ff;
}

.btn-text {
	background-color: transparent;
	border: none;
	color: #444444;
}

.pre-wrap {
	white-space: pre-wrap;
}
