/* You can add global styles to this file, and also import other style files */
.bg-lighten-xl {
	background-color: #bdf !important;
}

.light-sky-blue {
	background-color: #cbedff;
}

.lighter-sky-blue {
	background-color: #cfefff;
}

.btn-text {
	background-color: transparent;
	border: none;
	color: #444444;
}
