<div class="lighter-cyan">

  <div class="p-2 d-flex flex-wrap justify-content-start gap-2 " style="font-size: 90%">
    <div *ngFor="let category of categories$ | async ">
      <!-- add onClick to send category.en as parameter -->

      <button (click)="onCategoryClick(category.en)" class="light-cyan">
        <div>{{ isChinese ? category.cn : category.en }}</div>
      </button>
    </div>
    <div class="p-2 justify-content-end gap-2 " style="font-size: 80%" (click)="onVersionClick()">ver: 1.1.2</div>
  </div>

</div>